/*
	Title:		Master styles for screen media
	Author: 	Tom Darlow - brightheadway.com
*/
/* global variables
------------------------------------*/
/* imports
------------------------------------*/
/* reset styles
--------------------------------------------- */
/* line 16, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 30, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 33, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 36, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 44, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon.eot");
  src: url("/fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("/fonts/icomoon.woff") format("woff"), url("/fonts/icomoon.ttf") format("truetype"), url("/fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
/* line 13, ../sass/_fonts.scss */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
/* line 31, ../sass/_fonts.scss */
.icon-cancel, .icon-menu, .icon-plus, .icon-plus-2, .icon-arrow-down, .icon-magnifying-glass, .icon-calendar, .icon-star, .icon-star-2, .icon-lock, .icon-unread, .icon-house, .icon-pencil, .icon-location {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 41, ../sass/_fonts.scss */
.icon-cancel:before {
  content: "\e005";
}

/* line 44, ../sass/_fonts.scss */
.icon-menu:before {
  content: "\e00f";
}

/* line 47, ../sass/_fonts.scss */
.icon-plus:before {
  content: "\e000";
}

/* line 50, ../sass/_fonts.scss */
.icon-plus-2:before {
  content: "\e001";
}

/* line 53, ../sass/_fonts.scss */
.icon-arrow-down:before {
  content: "\e004";
}

/* line 56, ../sass/_fonts.scss */
.icon-magnifying-glass:before {
  content: "\e002";
}

/* line 59, ../sass/_fonts.scss */
.icon-calendar:before {
  content: "\e003";
}

/* line 62, ../sass/_fonts.scss */
.icon-star:before {
  content: "\e006";
}

/* line 65, ../sass/_fonts.scss */
.icon-star-2:before {
  content: "\e007";
}

/* line 68, ../sass/_fonts.scss */
.icon-lock:before {
  content: "\e008";
}

/* line 71, ../sass/_fonts.scss */
.icon-unread:before {
  content: "\e009";
}

/* line 74, ../sass/_fonts.scss */
.icon-house:before {
  content: "\e00a";
}

/* line 77, ../sass/_fonts.scss */
.icon-pencil:before {
  content: "\e00b";
}

/* line 80, ../sass/_fonts.scss */
.icon-location:before {
  content: "\e00c";
}

/* layout & grid
------------------------------------*/
/* line 16, ../sass/_grid.scss */
.wrap {
  padding: 0 2em;
  position: relative;
  max-width: 1000px !important;
}

@media (min-width: 55em) {
  /* line 25, ../sass/_grid.scss */
  .wrap {
    max-width: 79.8em;
    padding-left: 1.8em;
    padding-right: 1.8em;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .wrap:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 0em) and (max-width: 25em) {
  /* line 42, ../sass/_grid.scss */
  .wrap {
    padding: 0 0.4em;
  }
}
/* line 80, ../sass/_grid.scss */
div.section,
section {
  margin-bottom: 1.6em;
}
@media (max-width: 55em) {
  /* line 80, ../sass/_grid.scss */
  div.section,
  section {
    margin-bottom: 1.8em;
  }
}
@media (min-width: 0em) and (max-width: 25em) {
  /* line 80, ../sass/_grid.scss */
  div.section,
  section {
    margin-bottom: 1em;
  }
}

/* line 87, ../sass/_grid.scss */
#main {
  width: 74.43609%;
  float: left;
  margin-right: 2.25564%;
  display: inline;
  float: right;
  margin-right: 0;
  *margin-left: -1.8em;
  display: inline;
}
@media (max-width: 55em) {
  /* line 87, ../sass/_grid.scss */
  #main {
    width: 100%;
    float: left;
    margin-right: 3.42205%;
  }
}

/* line 96, ../sass/_grid.scss */
.mod-centre {
  width: 65.65657%;
  float: left;
  margin-right: 3.0303%;
  display: inline;
}
@media (max-width: 55em) {
  /* line 96, ../sass/_grid.scss */
  .mod-centre {
    width: 61.21673%;
    float: left;
    margin-right: 3.42205%;
  }
}
@media (min-width: 0em) and (max-width: 25em) {
  /* line 96, ../sass/_grid.scss */
  .mod-centre {
    width: 100%;
    float: left;
    margin-right: 7.08661%;
  }
}

/* line 108, ../sass/_grid.scss */
.mod-right {
  width: 31.31313%;
  float: left;
  margin-right: 3.0303%;
  display: inline;
  float: right;
  margin-right: 0;
  *margin-left: -1.8em;
  display: inline;
}
@media (max-width: 55em) {
  /* line 108, ../sass/_grid.scss */
  .mod-right {
    width: 35.36122%;
    float: left;
    margin-right: 3.42205%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 0em) and (max-width: 25em) {
  /* line 108, ../sass/_grid.scss */
  .mod-right {
    width: 100%;
    float: left;
    margin-right: 7.08661%;
  }
}

/* Global styles
------------------------------------*/
/* line 52, ../sass/screen.scss */
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 100%;
  background: #f0eeea;
  color: #6a6c6e;
  margin-bottom: 50px;
}

/* line 64, ../sass/screen.scss */
body,
input,
select,
textarea {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* links */
/* line 72, ../sass/screen.scss */
a:link,
a:visited {
  color: #8aba56;
  outline: none;
  text-decoration: none;
  -webkit-transition: color 0.8s cubic-bezier(0.16, 1, 0, 1);
  -moz-transition: color 0.8s cubic-bezier(0.16, 1, 0, 1);
  -o-transition: color 0.8s cubic-bezier(0.16, 1, 0, 1);
  transition: color 0.8s cubic-bezier(0.16, 1, 0, 1);
}
/* line 78, ../sass/screen.scss */
a:link:hover,
a:visited:hover {
  color: #8aba56;
  text-decoration: underline;
}

/* Typographic
------------------------------------*/
/* line 91, ../sass/screen.scss */
h2 {
  margin-bottom: .7em;
  font-size: 1.25em;
  /* 20/16 */
}

/* line 97, ../sass/screen.scss */
h3 {
  margin-bottom: 1em;
  font-size: 1em;
  /* 18/16 */
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}
/* line 106, ../sass/screen.scss */
h3 strong {
  font-weight: 900;
}

/* line 114, ../sass/screen.scss */
h2 strong,
h3 strong {
  color: #8aba56;
}
/* line 118, ../sass/screen.scss */
h2 em,
h3 em {
  font-weight: normal;
  font-style: normal;
  color: #777777;
}

/* line 134, ../sass/screen.scss */
.entry-content h3,
.entry-content h4,
.entry-content p,
.entry-content ul,
.entry-content ol,
.entry-content img,
.mod h3,
.mod h4,
.mod p,
.mod ul,
.mod ol,
.mod img {
  margin-bottom: .6em;
  font-size: 1.25em;
  line-height: 1.375em;
}
@media (max-width: 55em) {
  /* line 134, ../sass/screen.scss */
  .entry-content h3,
  .entry-content h4,
  .entry-content p,
  .entry-content ul,
  .entry-content ol,
  .entry-content img,
  .mod h3,
  .mod h4,
  .mod p,
  .mod ul,
  .mod ol,
  .mod img {
    font-size: 1em;
  }
}
@media (min-width: 0em) and (max-width: 25em) {
  /* line 134, ../sass/screen.scss */
  .entry-content h3,
  .entry-content h4,
  .entry-content p,
  .entry-content ul,
  .entry-content ol,
  .entry-content img,
  .mod h3,
  .mod h4,
  .mod p,
  .mod ul,
  .mod ol,
  .mod img {
    line-height: 1.25em;
  }
}
/* line 150, ../sass/screen.scss */
.entry-content h4,
.mod h4 {
  font-weight: bold;
  margin-bottom: 0 !important;
}
/* line 156, ../sass/screen.scss */
.entry-content ul,
.entry-content ol,
.mod ul,
.mod ol {
  list-style: disc;
  margin-left: 1.1em;
}
@media (min-width: 0em) and (max-width: 25em) {
  /* line 156, ../sass/screen.scss */
  .entry-content ul,
  .entry-content ol,
  .mod ul,
  .mod ol {
    margin-left: 1.2em;
  }
}
/* line 164, ../sass/screen.scss */
.entry-content ul li,
.entry-content ol li,
.mod ul li,
.mod ol li {
  line-height: 1.5em;
}
/* line 168, ../sass/screen.scss */
.entry-content ul li p,
.entry-content ol li p,
.mod ul li p,
.mod ol li p {
  font-size: 1em;
}
/* line 176, ../sass/screen.scss */
.entry-content ol,
.mod ol {
  list-style: decimal;
}

/* line 187, ../sass/screen.scss */
.mod > *:last-child,
.mod > *:last-child > *:last-child,
.mod > *:last-child > *:last-child > *:last-child,
.entry-content > *:last-child,
.entry-content > *:last-child > *:last-child,
.entry-content > *:last-child > *:last-child > *:last-child {
  margin-bottom: 0 !important;
}

/* line 192, ../sass/screen.scss */
.overture.mod p {
  margin: -0.35em 0 0 0;
  font-size: 1.5em !important;
  color: #939597;
  line-height: 1.4;
}
@media (max-width: 55em) {
  /* line 192, ../sass/screen.scss */
  .overture.mod p {
    font-size: 1.25em !important;
  }
}
@media (min-width: 0em) and (max-width: 25em) {
  /* line 192, ../sass/screen.scss */
  .overture.mod p {
    font-size: 1.15em;
  }
}

/* buttons
------------------------------------*/
/* line 213, ../sass/screen.scss */
.btn {
  display: inline-block;
  margin: 0;
  padding: 0.6em 1em;
  font-size: .875em;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  background-color: #8aba56;
  border: none;
  color: white !important;
  text-shadow: 0 1px -1px rgba(0, 0, 0, 0.2);
  -webkit-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  transition: background 0.2s ease;
  -webkit-box-shadow: 0 2px 0 #709d40;
  -moz-box-shadow: 0 2px 0 #709d40;
  box-shadow: 0 2px 0 #709d40;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 231, ../sass/screen.scss */
.btn:hover, .btn:focus {
  background-color: #9dc571;
  text-decoration: none !important;
}
/* line 236, ../sass/screen.scss */
.btn:active {
  position: relative;
  top: 1px;
  -webkit-box-shadow: inset 0 1px 0 #7daf47;
  -moz-box-shadow: inset 0 1px 0 #7daf47;
  box-shadow: inset 0 1px 0 #7daf47;
}

/* header
------------------------------------*/
/* header
------------------------------------*/
/* line 7, ../sass/_header.scss */
header[role="banner"] {
  position: relative;
  margin-bottom: 1.6em;
}
@media (max-width: 55em) {
  /* line 7, ../sass/_header.scss */
  header[role="banner"] {
    margin-bottom: 1.8em;
  }
}
@media (min-width: 0em) and (max-width: 25em) {
  /* line 7, ../sass/_header.scss */
  header[role="banner"] {
    margin-bottom: 1em;
  }
}

/* This is the logic for the fluid / responsive lazy loaded header
------------------------------------*/
/* line 19, ../sass/_header.scss */
.panorama {
  position: relative;
  padding-bottom: 30%;
  /* our ratio */
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
/* line 26, ../sass/_header.scss */
.panorama img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 38, ../sass/_header.scss */
.prelude {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.14);
  color: #f0eeea;
}
/* line 47, ../sass/_header.scss */
.prelude h1 {
  font-size: 2.4em;
  font-family: cowboyslang-expanded, Helvetica Neue, Arial, sans-serif;
  font-weight: normal;
  text-transform: lowercase;
  letter-spacing: -1px;
  padding: 0.3em 0;
  margin-left: 25.56391%;
  width: 48.87218%;
  float: left;
  margin-right: 2.25564%;
  display: inline;
}
@media (max-width: 55em) {
  /* line 47, ../sass/_header.scss */
  .prelude h1 {
    margin-left: 0%;
    width: 74.14449%;
    float: left;
    margin-right: 3.42205%;
  }
}
@media (min-width: 0em) and (max-width: 25em) {
  /* line 47, ../sass/_header.scss */
  .prelude h1 {
    margin-left: 0%;
    font-size: 1.25em;
    padding-left: .4em;
    float: left;
    width: 66%;
    display: block;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
  }
}

/*	----	misc		----	*/
/* line 264, ../sass/screen.scss */
hr,
.hide,
.screen-reader-text {
  display: none;
}

/* line 268, ../sass/screen.scss */
.clear {
  clear: both;
}

/* line 272, ../sass/screen.scss */
img, object {
  max-width: 100%;
}

/* line 276, ../sass/screen.scss */
a img {
  border: none;
}

/* self-clear floats */
/* line 282, ../sass/screen.scss */
.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}


/*
==============================================
tossing
==============================================
*/

.tossing {
	animation-name: tossing;
	-webkit-animation-name: tossing;

	animation-duration: 2s;
	-webkit-animation-duration: 2s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes tossing {
	0% {
		transform: rotate(-2deg);
	}
	50% {
		transform: rotate(2deg);
	}
	100% {
		transform: rotate(-2deg);
	}
}

@-webkit-keyframes tossing {
	0% {
		-webkit-transform: rotate(-2deg);
	}
	50% {
		-webkit-transform: rotate(2deg);
	}
	100% {
		-webkit-transform: rotate(-2deg);
	}
}
